<IfModule mod_expires.c>
  <FilesMatch "\.(ico|gif|jpe?g|png|js|css)$">
    ExpiresActive On
    ExpiresDefault "access plus 1 year"
    <IfModule mod_headers.c>
      Header unset ETag
      FileETag None
    </IfModule>
  </FilesMatch>
</IfModule>

